* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   }
   .main-box {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .calendar-box {
    width: 80%;
    border: 3px solid black;
    background-color: rgb(167, 213, 231);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 100px);
   }
   .box-celda {
    width: 100%;
    height: 100%;
    background-color: rgb(43, 71, 100);
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    
   }
   .box-1 {
    grid-column-start: 5;
    grid-column-end: 6;
   }
   .nombre-mes {
    grid-column-start: 1;
    grid-column-end: 8;
   }
   .nombre-dia {
    background-color: rgb(52, 122, 154);
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 1.8em;
    color: white;
    padding: 30px;
    border: 3px solid rgb(21, 58, 97);
   }
