h1 {
    text-align: center;
}
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: 900;
}
.box-darkcyan {
    background-color: blue;
}
.box-goldenrod {
    background-color: red;
}
.box-red {
    background-color: rgb(254, 195, 0);
}
.box-5-8-11 {
    background-color: rgb(8, 88, 167);
}
