* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
nav {
    background-color: rgb(7, 153, 182);
}
ul {
    background-color: rgb(7, 153, 182);
    width: 100%;
    /* line-height: 70px; */
    position: absolute;
    text-align: center;
}
nav > ul > li {
    
    width: 250px;
    display: inline-block;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}
/* nav > ul {
    margin-left: 0px;
} */
ul li {
    position: relative;
    list-style: none;
    line-height: 70px;
}

li:hover {
    background-color: rgb(17, 76, 95);
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
    display: block;
}
nav li li {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}
nav li:hover > ul > li {
    overflow: visible;
    max-height: 500px;
    border: 1px solid rgb(255,255,255, .2);
    transition: all 1s;
}
nav ul ul ul {
    left: 100%;
    top: 0;
}
